name = "cloudflaretempemail"
main = "src/worker.ts"
account_id = "59b8c62e6c28c08dbd13cb96e10210e4"
compatibility_date = "2025-04-01"
compatibility_flags = [ "nodejs_compat" ]
keep_vars = true

[vars]
BRIDGE_DESTINATION = "mail@ciaooo55.de5.net"
DEFAULT_DOMAINS = ["ciaooo55.looo.cloud", "bbb99.us.ci", "ca555.de5.net", "ciaoo.de5.net", "free555.de5.net", "free55.de5.net", "free5.us.ci", "kkk88.ccwu.cc", "yyy22.de5.net", "ciaooo66.dpdns.org", "ciaooo77.dpdns.org", "ciaooo77.us.ci"]
DOMAINS = ["ciaooo55.looo.cloud", "bbb99.us.ci", "ca555.de5.net", "ciaoo.de5.net", "free555.de5.net", "free55.de5.net", "free5.us.ci", "kkk88.ccwu.cc", "yyy22.de5.net", "ciaooo66.dpdns.org", "ciaooo77.dpdns.org", "ciaooo77.us.ci"]

[[d1_databases]]
binding = "DB"
database_name = "temp-mail-db"
database_id = "58fe10e5-1bf3-4595-b13c-9ad63cd3ee4c"
